.inputGroupContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 24px;

  .inputLabel{
    font-size: 12px;
    padding-bottom: 8px;
  }
}

:global(input){
  width: calc(100% - 18px);
  height: 40px;
  border: 1px solid #4A4A4A;
  border-radius: 4px;
  font-size: 12px;
  padding-left: 16px;
}
