.siteHeader {
  width: 100%;
  height: 56px;

  .headerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .hamburger {
      padding-left: 17px;
    }

    .logo {
      margin: 0 auto;
    }
  }

  .navMenuContainer {
    width: 100%;
    height: 611px;
    position: relative;

    .navMenuWrapper {
      width: 100%;
      height: 100%;
      margin-top: 16px;
      padding: 0 14.5px;
      position: absolute;
      z-index: 10;
      list-style: none;
      background-color: #ffffff;

      .navItem {
        padding: 24px 0;
        border-bottom: 1px solid rgba(42, 42, 42, 0.1);

        .navLink {
          font-size: 16px;
          text-decoration: none;
          display: flex;
          justify-content: center;
        }
      }

      .navIconList {
        padding-top: 25px;
        display: flex;
        justify-content: center;

        .navShoppingCart {
          margin: 0 45px;
        }
      }
    }
    .menuHidden {
      display: none;
    }
  }
}

// @media screen and (min-width: 380px) {
//   .siteHeader {
//     width: 100%;
//     position: relative;

//     .headerContainer {
//       width: 100%;
//       margin: 0 auto;
//       position: relative;

//       .hamburger {
//         display: none;
//       }
//       .logo{
//         z-index: 99;
//       }
//     }

//     .navMenuContainer {
//       all: unset;

//       .navMenuWrapper {
//         height: 60px;
//         display: flex;
//         align-items: center;
//         position: absolute;
//         margin: 0;
//         top: 0;

//         .navItem {
//           all: unset;
//           margin-right: 32px;

//         }

//         .navIconList {
//           all: unset;
//           display: flex;
//           align-self: center;
//           position: absolute;
//           right: 6.25%;
//         }
//       }
//     }
//   }
// }
