.MainContainer {
  width: 100%;
  padding: 16px 0 40px 0;
}

@media screen and (min-width: 380px) {
  .MainContainer {
    // all: unset;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "stepProgress cart "
      "stepForms cart"
      "progressControl cart";
    gap: 134px;
    position: relative;

    .stepProgress {
      margin-top: 80px;
      grid-area: stepProgress;
    }

    .stepForms {
      grid-area: stepForms;
      margin-left: 15px;
      position: absolute;
      top: -100px;
      width: 100%;
      height: 375px;
      border-bottom: 2px solid #e6e6e6;
    }

    .cart {
      grid-area: cart;
      position: absolute;
      width: 100%;
    }

    .progressControl {
      grid-area: progressControl;
    }
  }
}
