%cartInfo {
  border-top: 1px solid #f0f0f5;
  padding-top: 16px;
}

%cartFontText {
  font-size: 14px;
}

%cartFontPrice {
  font-size: 14px;
  font-weight: 700;
}

.cartContainer {
  width: 346px;
  border: 1px solid #f0f0f5;
  border-radius: 8px;
  margin: 32px 15px;

  .cartTitle {
    display: none;
  }

  .productWrapper {
    padding: 18px 16px;
    height: 102px;
    display: flex;
    justify-content: space-between;

    .imgContainer {
      width: 100px;
      height: 100px;
      border-radius: 4px;
    }

    .productInfo {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;

      .productName {
        letter-spacing: 1px;
      }

      .productControlContainer {
        width: 80%;
        display: flex;
        justify-content: space-between;

        .productControl {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .productCount {
            display: block;
            line-height: 27px;
          }
        }
      }
    }
  }
  .cartInfoWrapper {
    padding: 0 16px;

    .cartInfoShipping {
      @extend %cartInfo;
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;

      .cartText {
        @extend %cartFontText;
      }
      .cartPrice {
        @extend %cartFontPrice;
      }
    }

    .cartInfoTotal {
      @extend %cartInfo;
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;

      .cartText {
        @extend %cartFontText;
      }
      .cartPrice {
        @extend %cartFontPrice;
        font-weight: 700;
      }
    }
  }
}

@media screen and (min-width: 380px) {
  .cartContainer {
    all: unset;
    border-radius: 8px;
    border: 1px solid #f0f0f5;
    position: relative;
    top: 160px;

    .cartTitle {
      all: unset;
      display: block;
      font-size: 18px;
      font-weight: 700;
      line-height: 32px;
      margin: 0 24px;
      margin-top: 32px;
    }

    .productWrapper {
      all: unset;
      display: flex;
      margin: 32px 24px;

      .productInfo {
        all: unset;
        margin-left: 21px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .productNameAndControl {
          width: 30%;

          .productControlContainer {
            margin: 18px 0;
          }
        }

        .productPrice {
          font-weight: 700;
        }
      }
    }
    .cartInfoWrapper {
      .cartInfoShipping,
      .cartInfoTotal {
        all: unset;
        border-top: 1px solid #f0f0f5;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0 32px 0;
      }
    }
  }
}
