.StepOneWrapper{
  width: 346px;


  .formRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-bottom: 16px;

    .titleRow{
      width: 80%;
    }
  }

}

@media screen and (min-width: 380px) {
  .stepOneContainer{
    outline: 2px solid blue;


    .StepOneWrapper{
      all: unset;
    }
  }
  
}

